<%- include('./partials/header') %> <%- include('./partials/navbar') %>

<div class="container mt-5">
  <form action="/edit/<%= blog._id %> " method="POST">
    <h3>Create blog content</h3>
    <input
      type="text"
      value="<%= blog.title %> "
      name="title"
      class="form-control"
      placeholder="Enter title..."
      required
    />
    <textarea
      name="content"
      cols="30"
      rows="10"
      class="form-control mt-3"
      placeholder="Enter text....."
      required
    >
<%= blog.content %></textarea
    >
    <input type="submit" value="Edit" class="btn btn-md btn-success mt-5" />
  </form>
</div>

<%- include('./partials/footer') %>
